#container{
    border: violet 1px solid;
    margin-left: 30%;
    margin-right: 30%;
}
#header{
    height: 30%;
    border: black 1px solid;
}
/*#brand{
    float: left;
    width: 48.5%;
    height: 20%;
    border: springgreen 1px solid;
}
#searchBox{
    float: right;
    width: 48.5%;
    height: 20%;
    border: red 1px solid;
}*/
#menu{
    height: 30%;
    width: 100%;
    border: yellow 1px solid;
}
ul#menu li{
    display: inline;
    padding-right: 0.5em;
}
#introduction{
    height: 80%;
    background-color: yellowgreen;
}
#leftsidebar{
    float: left;
}
#rightsidebar{
    float: right;
}
.footer{
    text-align: center;
    background-color: yellowgreen;
    height: 10%;
}